<div>
    <div *ngIf="notready" align="center" id="loading-spinner">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
    <div *ngIf="!notready" style="display: inline-block;">
        <!--<div *ngIf="noSystemmapsFound" style="display:inline;" align="center"><br /><br />No maps found.</div>-->
        <div *ngIf="!noSystemmapsFound" style="display:inline; width:50%; float:left;">
            <div align="center">
                <label for="systemmap-filter">Maps</label><br />
                <input id="systemmap-filter" placeholder="Filter" (keyup)="filterSystemmaps(systemmap.value)" #systemmap>
            </div>
            <systemmap-grid [rows]="systemmaps" [columns]="systemmapColumns" [displayLookup]="systemunits"></systemmap-grid>
        </div>
        <!--<div *ngIf="noSystemunitsFound" style="display:inline;" align="center"><br /><br />No units found.</div>-->
        <div *ngIf="!noSystemunitsFound" style="display:inline; width:15%; float:left;">
            <div align="center">
                <label for="systemunit-filter">Units</label><br />
                <input id="systemunit-filter" placeholder="Filter" (keyup)="filterSystemunits(systemunit.value)" #systemunit>
            </div>
            <systemunit-grid [rows]="systemunits" [columns]="systemunitColumns"></systemunit-grid>
        </div>
        <!--<div *ngIf="noProhibitiondatesFound" style="display:inline;" align="center"><br /><br />No prohibition dates found.</div>-->
        <div *ngIf="!noProhibitiondatesFound" style="display:inline; width:15%; float:left;">
            <div align="center">
                <label for="prohibitiondates-filter">Prohibition Dates</label><br />
                <input id="prohibitiondates-filter" placeholder="Filter" (keyup)="filterProhibitionDates(prohibitiondate.value)" #prohibitiondate>
            </div>
            <prohibitiondate-grid [rows]="prohibitiondates" [columns]="prohibitiondateColumns" [displayLookup]="systemunits"></prohibitiondate-grid>
        </div>
    </div>
</div>
