<div>
    <div *ngIf="notready" align="center" id="loading-spinner">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
    <div *ngIf="!notready" style="display: flex; justify-content: center;">
        <!--<div *ngIf="noSystemmapsFound" style="display:inline;" align="center"><br /><br />No maps found.</div>-->
        <div *ngIf="!noSystemmapsFound" class="mapData-filter">
            <div align="center">
                <label for="systemmap-filter">Maps</label><br />
                <button type="button" (click)="openModal('modalMap')" class="btn btn-default btn-save-all">Add Map</button><br />
                <input id="systemmap-filter" placeholder="Filter" (keyup)="filterGrid(systemmap.id, systemmap.value)" ng-model="_currentMapFilter" #systemmap>
            </div>
            <systemmap-grid *ngIf="systemunits_nofilter" [rows]="systemmaps" [columns]="systemmapColumns" [displayLookup]="systemunits_nofilter" (edit)="openModal('modalMap', $event)" class="multi-table"></systemmap-grid>
        </div>
        <!--<div *ngIf="noSystemunitsFound" style="display:inline;" align="center"><br /><br />No units found.</div>-->
        <div *ngIf="!noSystemunitsFound" class="mapData-filter">
            <div align="center">
                <label for="systemunit-filter">Units</label><br />
                <button type="button" (click)="openModal('modalUnit')" class="btn btn-default btn-save-all">Add Unit</button><br />
                <input id="systemunit-filter" placeholder="Filter" (keyup)="filterGrid(systemunit.id, systemunit.value)" #systemunit>
            </div>
            <systemunit-grid [rows]="systemunits" [columns]="systemunitColumns" (edit)="openModal('modalUnit', $event)" class="multi-table"></systemunit-grid>
        </div>
        <!--<div *ngIf="noProhibitiondatesFound" style="display:inline;" align="center"><br /><br />No prohibition dates found.</div>-->
        <div *ngIf="!noProhibitiondatesFound" class="mapData-filter">
            <div align="center">
                <label for="prohibitiondates-filter">Prohibition Dates</label><br />
                <button type="button" (click)="openModal('modalDate')" class="btn btn-default btn-save-all">Add Date</button><br />
                <input id="prohibitiondates-filter" placeholder="Filter" (keyup)="filterGrid(prohibitiondate.id, prohibitiondate.value)" #prohibitiondate>
            </div>
            <prohibitiondate-grid *ngIf="systemunits_nofilter" [rows]="prohibitiondates" [columns]="prohibitiondateColumns" [displayLookup]="systemunits_nofilter" (edit)="openModal('modalDate', $event)" class="multi-table"></prohibitiondate-grid>
        </div>
    </div>
</div>

<modal id="modalMap">
    <div class="modal">
        <div class="modal-body">
            <div class="container cbrs-form">
                <h3 *ngIf="!row">Add Map</h3><h3 *ngIf="row">Edit Map {{row?.id}}</h3>
                <form [formGroup]="mapForm" (ngSubmit)="onSubmit(mapForm, 'modalMap')">
                    <div class="dms-group">
                        <div class="dms-form-group">
                            <label for="map_number">Map Number</label>
                            <input id="map_number" type="text" formControlName="map_number">
                        </div>
                    </div>
                    <div class="dms-group">
                        <div class="dms-form-group">
                            <label for="map_title">Map Title</label>
                            <input id="map_title" type="text" formControlName="map_title">
                        </div>
                    </div>
                    <div class="dms-group">
                        <div class="dms-form-group">
                            <label for="map_date">Map Date</label>
                            <!--<input id="map_date" formControlName="map_date">-->
                            <my-date-picker id="map_date" formControlName="map_date" [options]="myDatePickerOptions"></my-date-picker>
                        </div>
                    </div>
                    <div class="dms-group">
                        <div class="dms-form-group">
                            <label for="system_units">System Units</label>
                            <!--<input id="system_units" formControlName="system_units">-->
                            <ss-multiselect-dropdown *ngIf="systemunits" id="system_units" formControlName="system_units" [options]="systemunitoptions" [settings]="systemunitsettings"></ss-multiselect-dropdown>
                        </div>
                    </div>
                    <div class="dms-group">
                        <div class="dms-form-group" style="display: inline;">
                            <label for="effective" style="display: inline-block;">Effective</label>
                            <input id="effective" name="effective" type="checkbox" [checked]="row?.effective" value="true" formControlName="effective" style="display: inline-block;">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default btn-primary btn-group" [disabled]="!mapForm.valid">Save</button>
                    <button type="button" class="btn btn-default btn-danger btn-group" (click)="deleteRow('modalMap', row?.id)">Delete</button>
                    <button type="button" class="btn btn-default btn-group" (click)="closeModal('modalMap')">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
<modal id="modalUnit">
    <div class="modal">
        <div class="modal-body">
            <div class="container cbrs-form">
                <h3 *ngIf="!row">Add Unit</h3><h3 *ngIf="row">Edit Unit {{row?.id}}</h3>
                <form [formGroup]="unitForm" (ngSubmit)="onSubmit(unitForm, 'modalUnit')">
                    <div class="dms-group">
                        <div class="dms-form-group">
                            <label for="system_unit_number">Unit Number</label>
                            <input id="system_unit_number" type="text" formControlName="system_unit_number">
                        </div>
                    </div>
                    <div class="dms-group">
                        <div class="dms-form-group">
                            <label for="system_unit_name">Unit Name</label>
                            <input id="system_unit_name" type="text" formControlName="system_unit_name">
                        </div>
                    </div>
                    <div class="dms-group">
                        <div class="dms-form-group">
                            <label for="system_unit_type">Unit Type</label>
                            <select id="system_unit_type" formControlName="system_unit_type">
                                <option *ngFor="let type of systemUnitTypes" [value]="type.id" [selected]="type.id == mySystemunit.system_unit_type">{{type.unit_type}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="dms-group">
                        <div class="dms-form-group">
                            <label for="field_office">Field Office</label>
                            <select id="field_office" formControlName="field_office">
                                <option *ngFor="let off of fieldOffices" [value]="off.id" [selected]="off.id == mySystemunit.field_office">{{off.field_office_name}}</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default btn-primary btn-group" [disabled]="!unitForm.valid">Save</button>
                    <button type="button" class="btn btn-default btn-danger btn-group" (click)="deleteRow('modalUnit', row?.id)">Delete</button>
                    <button type="button" class="btn btn-default btn-group" (click)="closeModal('modalUnit')">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
<modal id="modalDate">
    <div class="modal">
        <div class="modal-body">
            <div class="container cbrs-form">
                <h3 *ngIf="!row">Add Prohibition Date</h3><h3 *ngIf="row">Edit Prohib. Date {{row?.id}}</h3>
                <form [formGroup]="dateForm" (ngSubmit)="onSubmit(dateForm, 'modalDate')">
                    <div class="dms-group">
                        <div class="dms-form-group">
                            <label for="system_unit">Unit Number</label>
                            <select id="system_unit" formControlName="system_unit">
                                <option value=""></option>
                                <option *ngFor="let unit of systemunits" [value]="unit.id" [selected]="unit.id == myProhibitiondate.system_unit_number">{{unit.system_unit_number}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="dms-group">
                        <div class="dms-form-group">
                            <label for="prohibition_date">Prohibition Date</label>
                            <my-date-picker id="prohibition_date" formControlName="prohibition_date" [options]="myDatePickerOptions"></my-date-picker>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default btn-primary btn-group" style="display:inline;" [disabled]="!dateForm.valid">Save</button>
                    <button type="button" class="btn btn-default btn-danger btn-group" (click)="deleteRow('modalDate', row?.id)">Delete</button>
                    <button type="button" class="btn btn-default" style="display:inline;" (click)="closeModal('modalDate')">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
