<navbar></navbar>
        <div [hidden]="!notready" align="center" id="loading-spinner"><img class="loader" [src]="'loading.gif'" /></div>
        <div [hidden]="notready">
            <div class="container">
                <h3 class="subheader">Tags</h3>
                <table class="table table-striped table-bordered table-hover table-condensed tags-table">
                    <tbody>
                        <tr class="head">
                            <td>Tag</td>
                            <td>Description</td>
                            <td>Delete</td>
                            <td>Cases</td>
                        </tr>
                        <tr *ngFor="let tag of tags">
                            <td (click)="goToTag(tag.id)">{{tag.name}}</td>
                            <td>{{tag.description}}</td>
                            <td><button class="btn-tags delete" type="button" (click)="deleteTag(tag.id)">Delete <i class="fa fa-remove"></i></button></td>
                            <td><button class="btn-tags" type="button" (click)="goToCases(tag.id)">Open <i class="fa fa-arrow-right"></i></button></td>
                        </tr>
                    </tbody>
                </table>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="add-tag-form">
                    <div *ngIf="error" class="alert alert-danger">That tag name already exists</div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" id="description" formControlName="description">
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="!form.valid">Create a Tag</button>
                    </div>
                </form>
            </div>
        </div>
