<div class="container cbra-form">

    <h3 class="form-main-header">Edit Case #{{ myCase.id || case_ID }}</h3>

    <div [hidden]="!notready" align="center" id="loading-spinner"><img class="loader" [src]="'loading.gif'" /></div>
    <div [hidden]="notready">

        <form [formGroup]="form" *ngIf="active" (ngSubmit)="onSubmit(form)">

            <div formGroupName="casegroup">

                <div class="dms-group noheader">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 dms-form-group bb br">
                                    <label for="cbrs_unit">CBRS Unit</label>
                                    <select id="cbrs_unit" formControlName="cbrs_unit" (change)="getSystemmaps(newUnit.value); getProhibitiondates(newUnit.value); updateCaseControlValue(newUnit.id, newUnit.value)" #newUnit>
                                        <option value=""></option>
                                        <option *ngFor="let unit of mySystemunits" [value]="unit.id" [selected]="unit.id == myCase.cbrs_unit">{{unit.system_unit_number}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4 dms-form-group bb br">
                                    <label for="map_number">Map Number</label>
                                    <select id="map_number" formControlName="map_number" (change)="getSystemmapdate(newMap.value); updateCaseControlValue(newMap.id, newMap.value)" #newMap>
                                        <option value=""></option>
                                        <option *ngFor="let map of mySystemmaps" [value]="map.id" [selected]="map.id == myCase.map_number">{{map.map_number}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4 dms-form-group bb">
                                    <label for="cbrs_map_date">Map Date</label>
                                    <input id="cbrs_map_date" type="date" formControlName="cbrs_map_date" readonly>
                                    <!--<select id="cbrs_map_date" class="form-control">-->
                                    <!--    <option *ngFor="let mapdate of availableSystemmapdates" [value]="mapdate.id">{{mapdate.map_date}}</option>-->
                                    <!--</select>-->
                                </div>
                                <div class="col-md-4 dms-form-group br">
                                    <label for="determination">Determination</label>
                                    <select id="determination" formControlName="determination" (change)="toggleReadOnlyProhibitionDate(newDetermination.value); updateCaseControlValue(newDetermination.id, newDetermination.value)" #newDetermination>
                                        <option value=""></option>
                                        <option *ngFor="let determination of myDeterminations" [value]="determination.id" [selected]="determination.id == myCase.determination">{{determination.determination}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4 dms-form-group br">
                                    <label for="prohibition_date">Prohibition Date</label>
                                    <select id="prohibition_date" formControlName="prohibition_date" [disabled]="isreadonly_prohibitiondate" (change)="updateCaseControlValue(newProhibitionDate.id, newProhibitionDate.value)" #newProhibitionDate>
                                        <option value=""></option>
                                        <option *ngFor="let prohibitiondate of myProhibitiondates" [value]="prohibitiondate.prohibition_date" [selected]="prohibitiondate.prohibition_date == myCase.prohibition_date">{{prohibitiondate.prohibition_date}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4 dms-form-group">
                                    <label for="distance">Distance</label>
                                    <input id="distance" type="number" formControlName="distance">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="file-group">
                                <label class="half-label" for="casefiles">Case Files</label><!--
                                --><label class="file-upload-label" for="fileselect">Upload New</label>
                                <div class="col-md-6">
                                    <ul id="casefiles" *ngIf="myCasefiles.length > 0">
                                        <li *ngFor="let casefile of myCasefiles">
                                            <a target="_blank" [href]="casefile.file">{{ casefile.name }}</a>&nbsp;&nbsp;
                                            <input *ngIf="myCase.status == 'Awaiting Final Letter'" id="signed" type="checkbox" (change)="setFinalLetterDate(signed.checked)" #signed> Signed Letter<!-- [checked]="signed" formControlName="signed"> -->
                                        </li>
                                    </ul>
                                </div>
                                <input class="custom-file-input" id="fileselect" type="file" multiple (change)="fileSelectHandler($event)" formControlName="casefiles" />
                            </div>
                        </div>
                        <!-- <div class="col-md-2">
                            <div id="casefilesToUpload">
                                <p *ngFor="let fileDetails of filesToUploadDetails; #i=index"><span>{{ fileDetails.name }}: </span><span>{{ fileDetails.size }} MBs</span><button type="button" (click)="removeCasefile(i)">-</button></p>
                            </div>
                            <div id="filedrag" [hidden]="noxhr" (dragover)="fileDragHover($event)" (dragleave)="fileDragHover($event)" (drop)="fileSelectHandler($event)">or drop files here</div>
                        </div> -->

                        <div class="col-md-2">
                            <div class="chx-group">
                                <label for="priority">Priority</label><!--
                                --><div class="chx">
                                    <input id="priority" type="checkbox" [checked]="priority" formControlName="priority">
                                </div>
                            </div><!--
                                --><div class="chx-group">
                                <label for="on_hold">On Hold</label><!--
                                --><div class="chx">
                                    <input id="on_hold" type="checkbox" [checked]="on_hold" formControlName="on_hold">
                                </div>
                            </div><!--
                                --><div class="chx-group">
                                <label for="invalid">Invalid</label><!--
                                --><div class="chx">
                                    <input id="invalid" type="checkbox" [checked]="invalid" formControlName="invalid">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" id="case_messages" [hidden]="mapsfound"><pre>No maps found for this unit.</pre></div>
                </div>

                <div class="dms-group">
                    <h2 class="dms-group-header">Important Dates</h2>

                    <div class="row" id="dates">
                        <div class="col-md-4">
                            <div class="dms-form-group br bb">
                                <label for="request_date">Request Date</label>
                                <input id="request_date" type="date" formControlName="request_date">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="dms-form-group br bb">
                                <label for="fws_fo_received_date">Field Office Received Date</label>
                                <input id="fws_fo_received_date" type="date" formControlName="fws_fo_received_date">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="dms-form-group bb">
                                <label for="fws_hq_received_date">Headquarters Received Date</label>
                                <input id="fws_hq_received_date" type="date" formControlName="fws_hq_received_date">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="dms-form-group br">
                                <label for="final_letter_date">Final Letter Date</label>
                                <input id="final_letter_date" type="date" class="form-control" formControlName="final_letter_date">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="dms-form-group br">
                                <label for="close_date">Close Date</label>
                                <input id="close_date" type="date" class="form-control" formControlName="close_date">
                            </div>
                        </div>

                    </div>

                </div>

                <div class="dms-group">
                    <h2 class="dms-group-header">CASE SIGNOFF</h2>

                    <div class="row" id="signoff">
                        <div class="col-md-2">
                            <div class="dms-form-group br">
                                <label for="analyst">Analyst</label>
                                <select id="analyst" formControlName="analyst" (change)="setSignoffDateToday(newAnalyst.id); updateCaseControlValue(newAnalyst.id, newAnalyst.value)" #newAnalyst>
                                    <option value=""></option>
                                    <option *ngFor="let analyst of availableAnalysts" [value]="analyst.id" [selected]="analyst.id == selectedAnalyst">{{analyst.username}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="dms-form-group br">
                                <label for="analyst_signoff_date">Date</label>
                                <input id="analyst_signoff_date" type="date" formControlName="analyst_signoff_date">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="dms-form-group br">
                                <label for="qc_reviewer">QC Reviewer</label>
                                <select id="qc_reviewer" formControlName="qc_reviewer" (change)="setSignoffDateToday(newQCReviewer.id); updateCaseControlValue(newQCReviewer.id, newQCReviewer.value)" #newQCReviewer>
                                    <option value=""></option>
                                    <option *ngFor="let qc_reviewer of availableQCReviewers" [value]="qc_reviewer.id" [selected]="qc_reviewer.id == selectedQCReviewer">{{qc_reviewer.username}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="dms-form-group br">
                                <label for="qc_reviewer_signoff_date">Date</label>
                                <input id="qc_reviewer_signoff_date" type="date" formControlName="qc_reviewer_signoff_date">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="dms-form-group br">
                                <label for="fws_reviewer">FWS Reviewer</label>
                                <select id="fws_reviewer" formControlName="fws_reviewer" (change)="setSignoffDateToday(newFWSReviewer.id); updateCaseControlValue(newFWSReviewer.id, newFWSReviewer.value)" #newFWSReviewer>
                                    <option value=""></option>
                                    <option *ngFor="let fws_reviewer of availableFWSReviewers" [value]="fws_reviewer.id" [selected]="fws_reviewer.id == selectedFWSReviewer">{{fws_reviewer.username}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="dms-form-group">
                                <label for="fws_reviewer_signoff_date">Date</label>
                                <input id="fws_reviewer_signoff_date" type="date" formControlName="fws_reviewer_signoff_date">
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="dms-group">
                <h2 class="dms-group-header">Property Information</h2>
                <div class="row" formGroupName="propertygroup">

                    <div class="col-md-3">
                        <div class="dms-form-group br bb">
                            <label for="street">Street</label>
                            <input id="street" type="text" formControlName="street">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dms-form-group br bb">
                            <label for="unit">Unit</label>
                            <input id="unit" type="text" formControlName="unit">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dms-form-group br bb">
                            <label for="city">City</label>
                            <input id="city" type="text" formControlName="city">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dms-form-group br bb">
                            <label for="state">State</label>
                            <select id="state" formControlName="state" (change)="updatePropertyControlValue(newState.id, newState.value)" #newState>
                                <option value=""></option>
                                <option *ngFor="let state of states" [value]="state" [selected]="state == myRequester.state">{{state}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="dms-form-group bb">
                            <label for="zipcode">Zipcode</label>
                            <input id="zipcode" type="text" formControlName="zipcode">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dms-form-group br">
                            <label for="subdivision">Subdivision</label>
                            <input id="subdivision" type="text" formControlName="subdivision">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dms-form-group">
                            <label for="policy_number">Policy Number</label>
                            <input id="policy_number" type="text" formControlName="policy_number">
                        </div>
                    </div>

                </div>

            </div>


            <div class="dms-group">
                <h2 class="dms-group-header">Requester Information</h2>
                <div class="row" formGroupName="requestergroup">

                    <div class="col-md-2">
                        <div class="dms-form-group br bb">
                            <label for="salutation">Salutation</label>
                            <select id="salutation" formControlName="salutation" (change)="updateRequesterControlValue(newSalutation.id, newSalutation.value)" #newSalutation>
                                <option value=""></option>
                                <option *ngFor="let salutation of salutations" [value]="salutation" [selected]="salutation == myRequester.salutation">{{salutation}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dms-form-group br bb">
                            <label for="first_name">First Name</label>
                            <input id="first_name" type="text" formControlName="first_name">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dms-form-group br bb">
                            <label for="last_name">Last Name</label>
                            <input id="last_name" type="text" formControlName="last_name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dms-form-group br bb">
                            <label for="organization">Organization</label>
                            <input id="organization" type="text" formControlName="organization">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dms-form-group bb">
                            <label for="email">Email</label>
                            <input id="email" type="email" formControlName="email">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="dms-form-group br">
                            <label for="street">Street</label>
                            <input id="street" type="text" formControlName="street">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dms-form-group br">
                            <label for="unit">Unit</label>
                            <input id="unit" type="text" formControlName="unit">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dms-form-group br">
                            <label for="city">City</label>
                            <input id="city" type="text" formControlName="city">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dms-form-group br">
                            <label for="state">State</label>
                            <select id="state" formControlName="state" (change)="updateRequesterControlValue(newState.id, newState.value)" #newState>
                                <option value=""></option>
                                <option *ngFor="let state of states" [value]="state" [selected]="state == myRequester.state">{{state}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="dms-form-group">
                            <label for="zipcode">Zipcode</label>
                            <input id="zipcode" type="text" formControlName="zipcode">
                        </div>
                    </div>

                </div>

            </div>

            <div class="dms-group noheader">
                <div class="row">
                    <div class="col-md-6" style="border-right: 1px solid #E8E8E8">
                        <h2 class="dms-group-header">Comments</h2>

                        <div class="add-comment-wrap">
                            <input type="text" placeholder="Add New Comment" class="new-comment-input" #newComment>
                            <button class="btn-add-comment" type="button" (click)="addComment(newComment.value); newComment.value='';">Add a comment</button>
                        </div>

                        <ul class="comment-ul">
                            <p *ngFor="let comment of myComments">{{ comment.comment }} ({{ comment.created_by_string}} at {{ comment.created_date }})</p>
                        </ul>

                    </div>
                    <div class="col-md-6">
                        <h2 class="dms-group-header">Tags</h2>

                        <div class="add-comment-wrap">
                            <select class="new-comment-input new-comment-select" #newTag>
                                <option *ngFor="let tag of availableTags" [value]="tag.id">{{tag.name}}</option>
                            </select>
                            <button class="btn-add-comment" type="button" (click)="addCasetag(newTag.value)">Add a tag</button>
                        </div>

                        <ul class="tag-ul">
                            <li *ngFor="let casetag of myCasetags">{{ casetag.tagname }} <button class="btn-remove" type="button" (click)="removeCasetag(casetag.id)"><i class="fa fa-remove">x</i></button></li>
                        </ul>
                    </div>
                </div>

            </div>

            <br/>

            <button type="submit" class="btn btn-default btn-save-all" [disabled]="!form.valid">Save</button>

        </form>

    </div>

</div>
