<div class="container">

    <h3>Edit Case {{ myCase.id || case_ID }}</h3>

    <div [hidden]="!notready" align="center"><img [src]="'loading.gif'" /></div>
    <div [hidden]="notready">

        <form [ngFormModel]="form" *ngIf="active" (ngSubmit)="onSubmit(form)">

            <div ngControlGroup="casegroup">

                <div class="row">
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="priority">Priority</label>
                            <input id="priority" type="checkbox" [checked]="priority" class="form-control" ngControl="priority">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="casefiles">Case Files</label>
                            <ul id="casefiles" *ngIf="myCasefiles.length > 0">
                                <li *ngFor="#casefile of myCasefiles"><a target="_blank" [href]="casefile.file">{{ casefile.name }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="casefilesToUpload">Files to Upload</label>
                            <div id="casefilesToUpload">
                                <p *ngFor="#fileDetails of filesToUploadDetails; #i=index"><span>{{ fileDetails.name }}: </span><span>{{ fileDetails.size }} MBs</span><button type="button" (click)="removeCasefile(i)">-</button></p>
                            </div>
                            <input id="fileselect" type="file" multiple (change)="fileSelectHandler($event)" ngControl="casefiles" />
                            <!--<div id="filedrag" [hidden]="noxhr" (dragover)="fileDragHover($event)" (dragleave)="fileDragHover($event)" (drop)="fileSelectHandler($event)">or drop files here</div>-->
                        </div>
                    </div>
                </div>

                <div class="row" id="case_determination">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="cbrs_unit">CBRS Unit</label>
                            <select id="cbrs_unit" class="form-control" ngControl="cbrs_unit" (change)="getSystemmaps(newUnit.value); getProhibitiondates(newUnit.value); updateCaseControlValue(newUnit.id, newUnit.value)" #newUnit>
                                <option value=""></option>
                                <option *ngFor="#unit of mySystemunits" [value]="unit.id" [selected]="unit.id == myCase.cbrs_unit">{{unit.system_unit_number}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="map_number">Map Number</label>
                            <select id="map_number" class="form-control" ngControl="map_number" (change)="getSystemmapdate(newMap.value); updateCaseControlValue(newMap.id, newMap.value)" #newMap>
                                <option value=""></option>
                                <option *ngFor="#map of mySystemmaps" [value]="map.id" [selected]="map.id == selectedMap">{{map.map_number}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="cbrs_map_date">Map Date</label>
                            <input id="cbrs_map_date" type="date" class="form-control" ngControl="cbrs_map_date" readonly>
                            <!--<select id="cbrs_map_date" class="form-control">-->
                            <!--    <option *ngFor="#mapdate of availableSystemmapdates" [value]="mapdate.id">{{mapdate.map_date}}</option>-->
                            <!--</select>-->
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="determination">Determination</label>
                            <select id="determination" class="form-control" ngControl="determination" (change)="updateCaseControlValue(newDetermination.id, newDetermination.value)" #newDetermination>
                                <option value=""></option>
                                <option *ngFor="#determination of myDeterminations" [value]="determination.id" [selected]="determination.id == myCase.determination">{{determination.determination}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="prohibition_date">Prohibition Date</label>
                            <select id="prohibition_date" class="form-control" ngControl="prohibition_date" (change)="updateCaseControlValue(newProhibitionDate.id, newProhibitionDate.value)" #newProhibitionDate>
                                <option value=""></option>
                                <option *ngFor="#prohibitiondate of myProhibitiondates" [value]="prohibitiondate.prohibition_date" [selected]="prohibitiondate.prohibition_date == myCase.prohibition_date">{{prohibitiondate.prohibition_date}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="distance">Distance</label>
                            <input id="distance" type="text" class="form-control" ngControl="distance">
                        </div>
                    </div>
                </div>
                <div class="row" id="case_messages" [hidden]="mapsfound"><pre>No maps found for this unit.</pre></div>

                <div class="row" id="dates">
                    <div class="col-md-4" id="important_dates">
                        <div class="row">
                            <div class="form-group">
                                <label for="request_date">Request Date</label>
                                <input id="request_date" type="date" class="form-control" ngControl="request_date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="fws_fo_received_date">Field Office Received Date</label>
                                <input id="fws_fo_received_date" type="date" class="form-control" ngControl="fws_fo_received_date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="fws_hq_received_date">Headquarters Received Date</label>
                                <input id="fws_hq_received_date" type="date" class="form-control" ngControl="fws_hq_received_date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="final_letter_date">Final Letter Date</label>
                                <input id="final_letter_date" type="date" class="form-control" ngControl="final_letter_date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="close_date">Close Date</label>
                                <input id="close_date" type="date" class="form-control" ngControl="close_date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8" id="signoffs">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="analyst">Analyst</label>
                                    <select id="analyst" class="form-control" ngControl="analyst" (change)="setSignoffDateToday(newAnalyst.id); updateCaseControlValue(newAnalyst.id, newAnalyst.value)" #newAnalyst>
                                        <option value=""></option>
                                        <option *ngFor="#analyst of availableAnalysts" [value]="analyst.id" [selected]="analyst.id == selectedAnalyst">{{analyst.username}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="analyst_signoff_date">Date</label>
                                    <input id="analyst_signoff_date" type="date" class="form-control" ngControl="analyst_signoff_date">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="qc_reviewer">QC Reviewer</label>
                                    <select id="qc_reviewer" class="form-control" ngControl="qc_reviewer" (change)="setSignoffDateToday(newQCReviewer.id); updateCaseControlValue(newQCReviewer.id, newQCReviewer.value)" #newQCReviewer>
                                        <option value=""></option>
                                        <option *ngFor="#qc_reviewer of availableQCReviewers" [value]="qc_reviewer.id" [selected]="qc_reviewer.id == selectedQCReviewer">{{qc_reviewer.username}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="qc_reviewer_signoff_date">Date</label>
                                    <input id="qc_reviewer_signoff_date" type="date" class="form-control" ngControl="qc_reviewer_signoff_date">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fws_reviewer">FWS Reviewer</label>
                                    <select id="fws_reviewer" class="form-control" ngControl="fws_reviewer" (change)="setSignoffDateToday(newFWSReviewer.id); updateCaseControlValue(newFWSReviewer.id, newFWSReviewer.value)" #newFWSReviewer>
                                        <option value=""></option>
                                        <option *ngFor="#fws_reviewer of availableFWSReviewers" [value]="fws_reviewer.id" [selected]="fws_reviewer.id == selectedFWSReviewer">{{fws_reviewer.username}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fws_reviewer_signoff_date">Date</label>
                                    <input id="fws_reviewer_signoff_date" type="date" class="form-control" ngControl="fws_reviewer_signoff_date">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" id="request_information">

                <div class="col-md-4" ngControlGroup="propertygroup">

                    <div class="row">
                        <div class="form-group">
                            <label for="street">Street</label>
                            <input id="street" type="text" class="form-control" ngControl="street">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="unit">Unit</label>
                            <input id="unit" type="text" class="form-control" ngControl="unit">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input id="city" type="text" class="form-control" ngControl="city">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="state">State</label>
                            <input id="state" type="text" class="form-control" ngControl="state">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="zipcode">Zipcode</label>
                            <input id="zipcode" type="text" class="form-control" ngControl="zipcode">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="subdivision">Subdivision</label>
                            <input id="subdivision" type="text" class="form-control" ngControl="subdivision">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="policy_number">Policy Number</label>
                            <input id="policy_number" type="text" class="form-control" ngControl="policy_number">
                        </div>
                    </div>
                </div>

                <div class="col-md-4" ngControlGroup="requestergroup">

                    <div class="row">
                        <div class="form-group">
                            <label for="salutation">Salutation</label>
                            <select id="salutation" class="form-control" ngControl="salutation" (change)="updateRequesterControlValue(newSalutation.id, newSalutation.value)" #newSalutation>
                                <option value=""></option>
                                <option *ngFor="#salutation of salutations" [value]="salutation" [selected]="salutation == myRequester.salutation">{{salutation}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input id="first_name" type="text" class="form-control" ngControl="first_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input id="last_name" type="text" class="form-control" ngControl="last_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="organization">Organization</label>
                            <input id="organization" type="text" class="form-control" ngControl="organization">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" type="text" class="form-control" ngControl="email">
                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input id="address" type="text" class="form-control" ngControl="address">
                        </div>
                    </div>
                    -->
                </div>

            </div>

            <div class="row" id="comments_tags">
                <div class="col-md-6" ngControlGroup="commentgroup">
                    <label>Comments</label>
                    <p *ngFor="#comment of myComments">{{ comment.comment }}</p>
                    <input type="text" class="form-control" #newComment>
                    <button type="button" (click)="addComment(newComment.value); newComment.value='';">Add a comment</button>
                </div>
                <div class="col-md-6" ngControlGroup="taggroup">
                    <label>Tags</label>
                    <p *ngFor="#casetag of myCasetags">{{ casetag.tagname }}<button type="button" (click)="removeCasetag(casetag.id)">-</button></p>
                    <select class="form-control" #newTag>
                        <option *ngFor="#tag of availableTags" [value]="tag.id">{{tag.name}}</option>
                    </select>
                    <button type="button" (click)="addCasetag(newTag.value)">Add a tag</button>
                </div>
            </div>

            <br/>

            <button type="submit" class="btn btn-default" [disabled]="!form.valid">Save</button>

        </form>

    </div>

</div>