<div class="container cbra-form">

    <div [hidden]="!notready" align="center" id="loading-spinner"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
    <div [hidden]="notready">

        <div id="main-header" align="center" *ngIf="myCase.case_number || case_ID">
            <div class="row">
                <div class="form-main-header" style="font-size:20px;">
                    <div class="col-md-3"></div><div class="col-md-2">Case ID</div><div class="col-md-2">Case Reference</div><div class="col-md-2">Current Status</div><div class="col-md-3"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-main-header" style="font-size:24px; font-weight: bold;">
                    <div class="col-md-3"></div><div class="col-md-2">{{ myCase.case_number || case_ID }}</div><div class="col-md-2">{{ myCase.case_reference || "None" }}</div><div class="col-md-2">{{ myCase.status }}</div><div class="col-md-3"></div>
                </div>
            </div>
        </div><br /><br />

        <form [formGroup]="form" *ngIf="active" (ngSubmit)="onSubmit(form)">

            <button type="submit" class="btn btn-default btn-save-all" [disabled]="!form.valid">Save</button><br /><br />

            <div formGroupName="casegroup">

                <div class="dms-group noheader" *ngIf="!case_ID">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="file-group">
                                <label class="half-label fifty" for="casefiles">Case Files</label><!--
                                --><label class="bb" style="width:25%"></label><!--
                                --><label class="file-upload-label" for="casefileSelect">Upload Files</label>
                                <div class="col-md-12" *ngIf="!noxhr">
                                    <div id="casefiledrag" class="filedropzone" (dragover)="fileDragHover($event)" (dragleave)="fileDragHover($event)" (drop)="casefileSelectHandler($event)">or drop files here <br/><br/></div>
                                </div>

                                <div class="col-md-12">
                                    <div id="casefilesToUpload">
                                        <p *ngFor="let fileDetails of filesToUploadDetails; let i=index">
                                            <span>{{ fileDetails.name }}: </span><span>{{ fileDetails.size }} MBs</span>
                                            <button type="button" (click)="removeCasefile(i)" class="removeCaseFileButton">-</button>
                                        </p>
                                    </div>
                                </div>
                                <input class="custom-file-input" id="casefileSelect" type="file" multiple (change)="casefileSelectHandler($event)" formControlName="casefiles" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dms-group noheader" *ngIf="case_ID">

                    <div class="row">

                        <div class="col-xs-12 nopadd">
                            <div class="row nopadd">
                                <div class="col-md-3 chx-group">
                                    <label for="priority">Priority</label><!--
                                    --><div class="chx">
                                        <input id="priority" type="checkbox" formControlName="priority">
                                    </div>
                                </div><!--
                                    --><div class="col-md-3 chx-group">
                                    <label for="on_hold">On Hold</label><!--
                                    --><div class="chx">
                                        <input id="on_hold" type="checkbox" (change)="toggleOnHold();" formControlName="on_hold">
                                    </div>
                                </div><!--
                                    --><div class="col-md-3 chx-group">
                                    <label for="invalid">Invalid</label><!--
                                    --><div class="chx">
                                        <input id="invalid" type="checkbox" formControlName="invalid">
                                    </div>
                                </div><!--
                                    --><div class="col-md-3 chx-group">
                                    <label for="duplicate">Duplicate of</label><!--
                                    --><div class="slct">
                                        <select id="duplicate" formControlName="duplicate" style="width:120px">
                                            <option value=""></option>
                                            <option *ngFor="let caseID of myCaseIDs" [value]="caseID.id" [selected]="caseID.id == myCase.duplicate">{{caseID.id}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-2 dms-form-group bb br">
                                <label for="cbrs_unit">CBRS Unit</label>
                                <select id="cbrs_unit" formControlName="cbrs_unit" (change)="getSystemmaps(newUnit.value); getProhibitiondates(newUnit.value); updateCaseControlValue(newUnit.id, newUnit.value)" #newUnit>
                                    <option value=""></option>
                                    <option *ngFor="let unit of mySystemunits" [value]="unit.id" [selected]="unit.id == myCase.cbrs_unit">{{unit.system_unit_number}}</option>
                                </select>
                            </div>
                            <div class="col-md-2 dms-form-group bb br">
                                <label for="map_number">Map Number</label>
                                <select id="map_number" formControlName="map_number" (change)="getSystemmapdate(newMap.value); updateCaseControlValue(newMap.id, newMap.value)" #newMap>
                                    <option value=""></option>
                                    <option *ngFor="let map of mySystemmaps" [style.background-color]="map.current ? '' : 'gray'" [value]="map.id" [selected]="map.id == myCase.map_number">{{map.current? map.map_number : map.map_number + " (superseded)"}}</option>
                                </select>
                            </div>
                            <div class="col-md-2 dms-form-group bb br">
                                <label for="cbrs_map_date">Map Date</label>
                                <input id="cbrs_map_date" formControlName="cbrs_map_date" readonly>
                            </div>
                            <div class="col-md-2 dms-form-group bb br">
                                <label for="determination">Determination</label>
                                <select id="determination" formControlName="determination" (change)="toggleReadOnlyProhibitionDate(newDetermination.value); updateCaseControlValue(newDetermination.id, newDetermination.value)" #newDetermination>
                                    <option value=""></option>
                                    <option *ngFor="let determination of myDeterminations" [value]="determination.id" [selected]="determination.id == myCase.determination">{{determination.determination}}</option>
                                </select>
                            </div>
                            <div class="col-md-2 dms-form-group bb br" [style.background-color]="isreadonly_prohibitiondate ? 'lightgray' : ''">
                                <label for="prohibition_date">Prohibition Date</label>
                                <select *ngIf="!isreadonly_prohibitiondate" id="prohibition_date" formControlName="prohibition_date" (change)="updateCaseControlValue(newProhibitionDate.id, newProhibitionDate.value)" #newProhibitionDate>
                                    <option value=""></option>
                                    <option *ngFor="let prohibitiondate of myProhibitiondates" [value]="prohibitiondate.prohibition_date" [selected]="prohibitiondate.prohibition_date == myCase.prohibition_date">{{prohibitiondate.prohibition_date_mdy}}</option>
                                </select>
                                <!-- <select *ngIf="isreadonly_prohibitiondate" [style.background-color]="isreadonly_prohibitiondate ? 'black' : 'gray'"></select> -->
                            </div>
                            <div class="col-md-2 dms-form-group bb">
                                <label for="distance">Distance</label>
                                <input id="distance" type="number" formControlName="distance">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12 nopadd">

                            <div *ngIf="!noxhr" style="background-color: white" id="casefiledrag" (dragover)="fileDragHover($event)" (dragleave)="fileDragHover($event)" (drop)="casefileSelectHandler($event)">
                                <div class="file-group">
                                    <label class="half-label fifty" for="casefiles">Case Files</label><!--
                                    --><label class="bb" style="width:25%"></label><!--
                                    --><label class="file-upload-label" for="casefileSelect">Upload</label>

                                    <div class="filedropzone" (dragover)="fileDragHover($event)" (dragleave)="fileDragHover($event)">or drop files here <br/><br/></div>

                                    <div class="col-xs-12 col-md-6 filepad">
                                        <ul id="casefiles" *ngIf="myCasefiles.length > 0">
                                            <div *ngFor="let casefile of myCasefiles">
                                                <li *ngIf="!casefile.final_letter">
                                                    <a target="_blank" [href]="casefile.file" >{{ casefile.name }}</a>&nbsp;&nbsp;
                                                    <button type="button" (click)="deleteCasefile(casefile.id)" class="removeCaseFileButton">x</button>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>

                                    <div class="col-xs-12 col-md-6 filepad">
                                        <div id="casefilesToUpload">
                                            <p *ngFor="let fileDetails of filesToUploadDetails; let i=index">
                                                <span>{{ fileDetails.name }}: </span><span>{{ fileDetails.size }}</span>
                                                <button type="button" (click)="removeCasefile(i)" class="removeCaseFileButton">-</button>
                                            </p>
                                        </div>
                                    </div>

                                    <input class="custom-file-input" id="casefileSelect" type="file" multiple (change)="casefileSelectHandler($event)" formControlName="casefiles" />
                                </div>
                            </div>

                            <div *ngIf="noxhr" style="background-color: white">
                                <div class="file-group">
                                    <label class="half-label fifty" for="casefiles">Case Files</label><!--
                                    --><label class="bb" style="width:25%"></label><!--
                                    --><label class="file-upload-label" for="casefileSelect">Upload</label>

                                    <div class="filedropzone" (dragover)="fileDragHover($event)" (dragleave)="fileDragHover($event)">or drop files here <br/><br/></div>

                                    <div class="col-xs-12 col-md-6 filepad">
                                        <ul id="casefiles" *ngIf="myCasefiles.length > 0">
                                            <div *ngFor="let casefile of myCasefiles">
                                                <li *ngIf="!casefile.final_letter">
                                                    <a target="_blank" [href]="casefile.file">{{ casefile.name }}</a>&nbsp;&nbsp;
                                                    <button type="button" *ngIf="!casefile.final_letter" (click)="deleteCasefile(casefile.id)" class="removeCaseFileButton">x</button>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>

                                    <div class="col-xs-12 col-md-6 filepad">
                                        <div id="casefilesToUpload">
                                            <p *ngFor="let fileDetails of filesToUploadDetails; let i=index">
                                                <span>{{ fileDetails.name }}: </span><span>{{ fileDetails.size }}</span>
                                                <button type="button" (click)="removeCasefile(i)" class="removeCaseFileButton">-</button>
                                            </p>
                                        </div>
                                    </div>

                                    <input class="custom-file-input" id="casefileSelect" type="file" multiple (change)="casefileSelectHandler($event)" formControlName="casefiles" />
                                </div>
                            </div>

                        </div>



                        <div *ngIf="!noxhr" class="col-xs-12 nopadd" style="background-color: white" id="finalletterfiledrag" (dragover)="fileDragHover($event)" (dragleave)="fileDragHover($event)" (drop)="finalletterSelectHandler($event)">
                            <div class="file-group">
                                <label class="label fifty" style="border-top: 1px solid #E8E8E8;" for="finalletter">Final Letter</label><!--
                                --><label class="file-upload-label" style="width:25%; border-top: 1px solid #E8E8E8;" for="finalLetterSelect">Upload</label><!--
                                --><label class="file-upload-label" style="width:25%; border-top: 1px solid #E8E8E8;" for="draftletter">Draft</label>

                                    <div class="filedropzone" (dragover)="fileDragHover($event)" (dragleave)="fileDragHover($event)">or drop files here <br/><br/></div>

                                <div class="col-xs-12 col-md-6 filepad">
                                    <ul id="finalletter" *ngIf="myCasefiles.length > 0">
                                        <li *ngFor="let casefile of myCasefiles">
                                            <a target="_blank" [href]="casefile.file" *ngIf="casefile.final_letter">{{ casefile.name }}</a>&nbsp;&nbsp;
                                            <button type="button" *ngIf="casefile.final_letter" (click)="deleteCasefile(casefile.id)" class="removeCaseFileButton">x</button>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-xs-12 col-md-6 filepad">
                                    <div id="finalletterToUpload" *ngIf="finalletterToUploadDetails">
                                        <span>{{ finalletterToUploadDetails.name }}: </span><span>{{ finalletterToUploadDetails.size }}</span>
                                        <button type="button" (click)="removeFinalLetter()">-</button>
                                    </div>

                                    <input class="custom-file-input" id="finalLetterSelect" type="file" (change)="finalletterSelectHandler($event)" formControlName="final_letter" />
                                    <input class="custom-file-input" id="draftletter" type="button" (click)="generateLetter()" />
                                </div>

                            </div>
                        </div>



                        <div *ngIf="noxhr" class="col-xs-12" style="background-color: white">
                            <div class="file-group">
                                <label class="label fifty" style="border-top: 1px solid #E8E8E8;" for="finalletter">Final Letter</label><!--
                                --><label class="file-upload-label" style="width:25%; border-top: 1px solid #E8E8E8;" for="finalLetterSelect">Upload Letter</label><!--
                                --><label class="file-upload-label" style="width:25%; border-top: 1px solid #E8E8E8;" for="draftletter">Draft Letter</label>

                                    <div class="filedropzone" (dragover)="fileDragHover($event)" (dragleave)="fileDragHover($event)">or drop files here <br/><br/></div>

                                <div class="col-md-6 col-xs-12 filepad">
                                    <ul id="finalletter" *ngIf="myCasefiles.length > 0">
                                        <li *ngFor="let casefile of myCasefiles">
                                            <a target="_blank" [href]="casefile.file" *ngIf="casefile.final_letter">{{ casefile.name }}</a>&nbsp;&nbsp;
                                            <button type="button" *ngIf="casefile.final_letter" (click)="deleteCasefile(casefile.id)" class="removeCaseFileButton">x</button>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-6 col-xs-12 filepad">
                                    <div id="finalletterToUpload" *ngIf="finalletterToUploadDetails">
                                        <span>{{ finalletterToUploadDetails.name }}: </span><span>{{ finalletterToUploadDetails.size }}</span>
                                        <button type="button" (click)="removeFinalLetter()">-</button>
                                    </div>

                                    <input class="custom-file-input" id="finalLetterSelect" type="file" (change)="finalletterSelectHandler($event)" formControlName="final_letter" />
                                    <input class="custom-file-input" id="draftletter" type="button" (click)="generateLetter()" />
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row" id="case_messages" *ngIf="!mapsfound"><pre>No maps found for this unit.</pre></div>
                </div>

                <div class="dms-group" *ngIf="case_ID">
                    <h2 class="dms-group-header">Important Dates</h2>

                    <div class="row" id="dates">
                        <div class="col-md-2">
                            <div class="dms-form-group br">
                                <label for="request_date">Request Date</label>
                                <my-date-picker id="request_date" formControlName="request_date" [options]="myDatePickerOptions" (change)="validateDate(newRequestDate.elem.nativeElement.id, newRequestDate.selectedDate)" (inputFieldChanged)="validateDate(newRequestDate.elem.nativeElement.id, newRequestDate.selectedDate)" #newRequestDate></my-date-picker>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="dms-form-group br">
                                <label for="fws_fo_received_date">Field Office Received Date</label>
                                <my-date-picker id="fws_fo_received_date" formControlName="fws_fo_received_date" [options]="myDatePickerOptions" (change)="validateDate(newFODate.elem.nativeElement.id, newFODate.selectedDate)" (inputFieldChanged)="validateDate(newFODate.elem.nativeElement.id, newFODate.selectedDate)" #newFODate></my-date-picker>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="dms-form-group br">
                                <label for="fws_hq_received_date">Headquarters Received Date</label>
                                <my-date-picker id="fws_hq_received_date" formControlName="fws_hq_received_date" [options]="myDatePickerOptions" (change)="validateDate(newHQDate.elem.nativeElement.id, newHQDate.selectedDate)" (inputFieldChanged)="validateDate(newHQDate.elem.nativeElement.id, newHQDate.selectedDate)" #newHQDate></my-date-picker>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="dms-form-group br" [style.background-color]="isOnHold ? 'lightgray' : ''">
                                <label for="final_letter_date">Final Letter Date</label>
                                <my-date-picker *ngIf="!isOnHold" id="final_letter_date" formControlName="final_letter_date" [options]="myDatePickerOptions" (change)="validateDate(newFinalLetterDate.elem.nativeElement.id, newFinalLetterDate.selectedDate)" (inputFieldChanged)="validateDate(newFinalLetterDate.elem.nativeElement.id, newFinalLetterDate.selectedDate)" #newFinalLetterDate></my-date-picker>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="dms-form-group br" [style.background-color]="isOnHold ? 'lightgray' : ''">
                                <label for="close_date">Close Date</label>
                                <my-date-picker *ngIf="!isOnHold" id="close_date" formControlName="close_date" [options]="myDatePickerOptions" (change)="validateDate(newCloseDate.elem.nativeElement.id, newCloseDate.selectedDate)" (inputFieldChanged)="validateDate(newCloseDate.elem.nativeElement.id, newCloseDate.selectedDate)" #newCloseDate></my-date-picker>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="dms-group" *ngIf="case_ID">
                    <h2 class="dms-group-header">CASE ASSIGNMENT & SIGNOFF</h2>

                    <div class="row" id="signoff">
                        <div class="col-md-3">
                            <div class="dms-form-group br">
                                <label for="analyst">Analyst</label>
                                <select id="analyst" formControlName="analyst" (change)="updateCaseControlValue(newAnalyst.id, newAnalyst.value)" #newAnalyst>
                                    <option value=""></option>
                                    <option *ngFor="let analyst of availableAnalysts" [value]="analyst.id" [selected]="analyst.id == selectedAnalyst">{{analyst.username}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dms-form-group br" [style.background-color]="isOnHold ? 'lightgray' : ''">
                                <label for="analyst_signoff_date">Analyst Signoff Date</label>
                                <my-date-picker *ngIf="!isOnHold" id="analyst_signoff_date" formControlName="analyst_signoff_date" [options]="myDatePickerOptions" (change)="validateDate(newAnalystDate.elem.nativeElement.id, newAnalystDate.selectedDate)" (inputFieldChanged)="validateDate(newAnalystDate.elem.nativeElement.id, newAnalystDate.selectedDate)" #newAnalystDate></my-date-picker>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="dms-form-group br">
                                <label for="qc_reviewer">QC Reviewer</label>
                                <select id="qc_reviewer" formControlName="qc_reviewer" (change)="updateCaseControlValue(newQCReviewer.id, newQCReviewer.value)" #newQCReviewer>
                                    <option value=""></option>
                                    <option *ngFor="let qc_reviewer of availableQCReviewers" [value]="qc_reviewer.id" [selected]="qc_reviewer.id == selectedQCReviewer">{{qc_reviewer.username}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dms-form-group br" [style.background-color]="isOnHold ? 'lightgray' : ''">
                                <label for="qc_reviewer_signoff_date">QC Reviewer Signoff Date</label>
                                <my-date-picker *ngIf="!isOnHold" id="qc_reviewer_signoff_date" formControlName="qc_reviewer_signoff_date" [options]="myDatePickerOptions" (change)="validateDate(newQC1Date.elem.nativeElement.id, newQC1Date.selectedDate)" (inputFieldChanged)="validateDate(newQC1Date.elem.nativeElement.id, newQC1Date.selectedDate)" #newQC1Date></my-date-picker>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="dms-group">
                <h2 class="dms-group-header">Property Information</h2>
                <div class="row" formGroupName="propertygroup">

                    <div class="col-md-3">
                        <div class="dms-form-group br bb">
                            <label for="street">Street</label>
                            <input id="street" type="text" formControlName="street">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dms-form-group br bb">
                            <label for="unit">Suite/Apt #</label>
                            <input id="unit" type="text" formControlName="unit">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dms-form-group br bb">
                            <label for="city">City</label>
                            <input id="city" type="text" formControlName="city">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dms-form-group br bb">
                            <label for="state">State</label>
                            <select id="state" formControlName="state" (change)="updatePropertyControlValue(newPState.id, newPState.value)" #newPState>
                                <option value=""></option>
                                <option *ngFor="let state of states" [value]="state" [selected]="state == myProperty.state">{{state}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="dms-form-group bb">
                            <label for="zipcode">Zipcode</label>
                            <input id="zipcode" type="text" formControlName="zipcode">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dms-form-group br">
                            <label for="legal_description">Legal Description</label>
                            <input id="legal_description" type="text" formControlName="legal_description">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dms-form-group br">
                            <label for="subdivision">Subdivision</label>
                            <input id="subdivision" type="text" formControlName="subdivision">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dms-form-group">
                            <label for="policy_number">Policy Number</label>
                            <input id="policy_number" type="text" formControlName="policy_number">
                        </div>
                    </div>

                </div>

            </div>


            <div class="dms-group">
                <h2 class="dms-group-header">Requester Information</h2>
                <div class="row" formGroupName="requestergroup">

                    <div class="col-md-2">
                        <div class="dms-form-group br bb">
                            <label for="salutation">Salutation</label>
                            <select id="salutation" formControlName="salutation" (change)="updateRequesterControlValue(newSalutation.id, newSalutation.value)" #newSalutation>
                                <option value=""></option>
                                <option *ngFor="let salutation of salutations" [value]="salutation" [selected]="salutation == myRequester.salutation">{{salutation}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dms-form-group br bb">
                            <label for="first_name">First Name</label>
                            <input id="first_name" type="text" formControlName="first_name">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dms-form-group br bb">
                            <label for="last_name">Last Name</label>
                            <input id="last_name" type="text" formControlName="last_name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dms-form-group br bb">
                            <label for="organization">Organization</label>
                            <input id="organization" type="text" formControlName="organization">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dms-form-group bb">
                            <label for="email">Email</label>
                            <input id="email" type="email" formControlName="email">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="dms-form-group br">
                            <label for="street">Street</label>
                            <input id="street" type="text" formControlName="street">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dms-form-group br">
                            <label for="unit">Suite/Apt #</label>
                            <input id="unit" type="text" formControlName="unit">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dms-form-group br">
                            <label for="city">City</label>
                            <input id="city" type="text" formControlName="city">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dms-form-group br">
                            <label for="state">State</label>
                            <select id="state" formControlName="state" (change)="updateRequesterControlValue(newRState.id, newRState.value)" #newRState>
                                <option value=""></option>
                                <option *ngFor="let state of states" [value]="state" [selected]="state == myRequester.state">{{state}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="dms-form-group">
                            <label for="zipcode">Zipcode</label>
                            <input id="zipcode" type="text" formControlName="zipcode">
                        </div>
                    </div>

                </div>

            </div>

            <div class="dms-group noheader" *ngIf="case_ID">
                <div class="row">
                    <div class="col-md-6" style="border-right: 1px solid #E8E8E8">
                        <h2 class="dms-group-header">Comments</h2>

                        <div class="add-comment-wrap">
                            <input type="text" placeholder="Add New Comment" class="new-comment-input" #newComment><!--
                            --><button class="btn-add-comment" type="button" (click)="addComment(newComment.value); newComment.value='';">Add a comment</button>
                            <span *ngIf="!commentUnique" style="position:relative;top:20px;" class="alert alert-danger">That comment already exists for this case.</span>
                        </div>

                        <span *ngIf="!commentOwner" class="alert alert-danger">You do not have permission edit this comment since you did not create it.</span>

                        <ul class="comment-ul">
                            <div *ngFor="let comment of myComments">
                                <div *ngIf="!editingComment || editCommentID != comment.id" (click)="editComment(comment.id)">{{ comment.comment }} ({{ comment.created_by_string}} at {{ comment.created_date }})</div>
                                <br /><br />
                                <div *ngIf="editingComment && editCommentID == comment.id">
                                    <div class="add-comment-wrap">
                                        <input type="text" class="new-comment-input" style="width:50%" value={{comment.comment}} #editedComment><!--
                                        --><button class="btn-add-comment" style="width:20%" type="button" (click)="updateComment(editedComment.value);">Update comment</button>
                                        <button class="btn-add-comment" style="width:10%; background-color: burlywood" type="button" (click)="cancelEditComment();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </ul>

                    </div>
                    <div class="col-md-6">
                        <h2 class="dms-group-header">Tags</h2>

                        <div class="add-comment-wrap">
                            <select class="new-comment-input new-comment-select" #newTag>
                                <option value=""></option>
                                <option *ngFor="let tag of availableTags" [value]="tag.id">{{tag.name}}</option>
                            </select><!--
                            --><button class="btn-add-comment" type="button" (click)="addCasetag(newTag.value)">Add a tag</button>
                        </div>

                        <ul class="tag-ul">
                            <li *ngFor="let casetag of myCasetags">{{ casetag.tagname }} <button class="btn-remove" type="button" (click)="removeCasetag(casetag.id)"><i class="fa fa-remove"></i></button></li>
                        </ul>
                    </div>
                </div>

            </div>

            <br/>

            <button type="submit" class="btn btn-default btn-save-all" [disabled]="!form.valid">Save</button>

        </form>

    </div>

</div>
