<nav [hidden]="hideNavbar"  class="hidden-print">
    <div class="split">
        <a routerLink="/workbench" [queryParams]="{home: true}">Workbench</a>
        <!-- <a href="../../cbrsrequests/">Create Case</a> -->
        <a routerLink="/workbench/new">Create Case</a>
        <a routerLink="/mapdata">Map Data</a>
        <a routerLink="/reports">Reports</a>
        <a routerLink="/tags">Tags</a>
        <a routerLink="/users">User Administration</a>
    </div>
    <div class="split">
        <label class="nav-user">
			<b>User:&nbsp;</b>
			<span>{{ first_name }} {{ last_name }}</span>
		</label>
        <a (click)="onLogout()">
			<span>Logout <i class="fa fa-sign-out"></i></span>
		</a>
    </div>
</nav>
<div id="cbrs_toast" class="cbrsToast"></div>
