<nav [hidden]="hideNavbar"  class="hidden-print">
    <div style="float: left;">
        <a routerLink="/workbench" [queryParams]="{home: true}">Workbench</a>
        <!-- <a href="../../cbrsrequests/">Create Case</a> -->
        <a routerLink="/workbench/new">Create Case</a>
        <a routerLink="/mapdata">Map Data</a>
        <a routerLink="/reports">Reports</a>
        <a routerLink="/tags">Tags</a>
        <a routerLink="/users">User Administration</a>
    </div>
    <div style="float: right;">
        <b class="nav-user">User: {{ first_name }} {{ last_name }}</b>
        <a (click)="onLogout()">Logout <i class="fa fa-sign-out"></i></a>
    </div>
</nav>
<div id="cbrs_toast" class="cbrsToast"></div>
